//colors
$blue: #03a9f4;
$white: #ffffff;
$black: #000000;
$gray: #f5f5f5;

//fonts

$font-logo: 'Jost BoldItalic', sans-serif;
$font-header: 'Jost Bold', sans-serif;
$font-text: 'Jost Regular', sans-serif;
$font-button: 'Jost Medium', sans-serif;