section#about.about__section 
  article.about__wrap 
    h1.about_header About us
    p.about__text
      | Amet aliquam id diam maecenas ultricies mi. Tristique risus nec 
      | feugiat in fermentum posuere. Et ligula ullamcorper malesuada 
      | proin libero nunc consequat. Porttitor eget dolor morbi non arcu 
      | risus. Neque convallis a cras semper auctor neque. Blandit massa 
      | enim nec dui. Cursus vitae congue mauris rhoncus aenean vel elit. 
      | Nam libero justo laoreet sit amet cursus. Lacus luctus accumsan 
      | tortor posuere ac ut consequat semper. Aliquam ultrices sagittis 
      | orci a scelerisque purus semper.
  div.map#contacts
    div.map__contacts
      h3.map__contacts_header Contacts 
      ul.map__contacts_text
        li 
          b Address: 
          | Malookhtinsky prospect, 61 
        li 
          b Phone: 
          a(href="tel:+79876543210") +7 987 654-32-10
        li 
          b E-mail: 
          a(href="mailto:example@mail.com") example@mail.com