section
  div#advantages.advantages__wrap 
    img(class="content__img" src='./images/img-2.svg' alt="image-2" width='420px' height='287px')
    article.advantages__content
      h1.advantages__header Our advantages
      p.advantages__text
        | Tellus in metus vulputate eu scelerisque felis imperdiet. 
        | Duis ut diam quam nulla. Lacus vel facilisis volutpat est 
        | velit egestas. Diam volutpat commodo sed egestas egestas 
        | fringilla phasellus faucibus. Mattis molestie a iaculis at 
        | erat. Fames ac turpis egestas maecenas pharetra convallis 
        | posuere morbi leo. In massa tempor nec feugiat nisl pretium 
        | fusce id. Maecenas accumsan lacus vel facilisis volutpat est. 
        | Posuere morbi leo urna molestie at elementum.
  table.advantages__table 
    tr 
      th #
      th Сongue quisque
      th Cras sed
      th Nisl vel pretium
    tr 
      th 1
      td 
        | Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper 
        | dignissim cras. Tristique sollicitudin nibh sit amet commodo nulla facilisi.
      td 
        | Diam ut venenatis tellus in metus vulputate eu scelerisque feli
      td 
        a(href="#") Tempus egestas
    tr 
      th 2
      td 
        | Id donec ultrices tincidunt arcu non sodales neque.
      td 
        | Lacus vel facilisis volutpat est velit egestas.
      td 
        a(href="#") Tempus egestas
    tr 
      th 3
      td 
        | Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper 
        | dignissim cras. Tristique sollicitudin nibh sit amet commodo nulla facilisi.
      td 
        | Diam ut venenatis tellus in metus vulputate eu scelerisque feli
      td 
        a(href="#") Tempus egestas
    tr 
      th 4
      td 
        | Id donec ultrices tincidunt arcu non sodales neque.
      td 
        | Lacus vel facilisis volutpat est velit egestas.
      td 
        a(href="#") Tempus egestas
