section.header 
  div.header__wrap
    nav.nav 
      h1.logo Logotype
      div.nav__wrap
        ul.nav__list 
          li.nav__list_item 
            a(href="#advantages") Our advantages
          li.nav__list_item 
            a(href="#about") About us
          li.nav__list_item 
            a(href="#contacts") Contacts
        a.tel(href="tel:+79876543210") +7 987 654-32-10
    div.content
      div.content__wrap
        h2.content__header Platea dictumst vestibulum rhoncus est pellentesque
        p.content__text 
          | Id donec ultrices tincidunt arcu non sodales neque. 
          | Tempus egestas sed sed risus pretium quam vulputate 
          | dignissim suspendisse. Nunc sed id semper risus in 
          | hendrerit gravida.
          
        a.content__button(href="#advantages") Our advantages
      img(class="content__img" src='./images/img-1.svg' alt="image-1" width='420px' height='360px')
